* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'NombreAppFuente';
    src: url('assets/fonts/Micfloral.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NombreCuerpoFuente';
    src: url('assets/fonts/Study\ Case.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-fondo: rgb(233,223,251);
    --color-fondo-claro: #f2ebfa;
    --color-titulo: #855485;

    /*
    new colors -> new theme
    */
    --color-fondo-ventana: #fbf9f3;
    --color-fondo-oscuro: white;
}

body {
    padding: 20px;
    background-color: transparent;
}

.app-container {
    padding: 15px;
    padding-top: 10px;
    width: 300px;
    height: 390px;
    background-color: black;
    border-radius: 15px;
    background-color: rgba(234,166,237, 0.8);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5); /* Opcional, para destacar */
}

.header-container {
    -webkit-app-region: drag;
    width: 270px;
    height: 35px;
    font-family: 'NombreAppFuente';
    color: var(--color-fondo);
    font-size: 110%;
    padding: 0;
    margin: 0;

    /* display settings*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.general-container {
    border-radius: 3px;
    border: var(--color-titulo) solid 2px;
    background-color: rgba(245,214,244, 0.95);
    width: 270px;
    height: 320px;
}


/********************* GENERAL COMPONENTS *********/
.button-customized {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.button-customized:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}


/**************************** HEADER **********************/
.logo {
    width: 180px;
    padding-top: 2px;
}

.header-button {
    -webkit-app-region: no-drag;
    margin-left: 10px;
}

.header-button img {
    width: 15px;
}


/******************* GENERAL CONTAINER - INTRO *******************/
.general-container.intro-container {
    border: rgba(0, 0, 0, 0) solid 2px;
    background-color: rgba(0,0,0, 0);
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-container img {
    width: 200px;
}






/********************** GENERAL CONTAINER - GAME *******************/
.general-container.game-container {
    border: var(--color-titulo) solid 2px;
    background-color: rgba(245,214,244, 0.95);
}

.game-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 2px dashed var(--color-titulo);
    border-radius: 25px;
    background-color: var(--color-fondo);
    font-family: "NombreCuerpoFuente";
    height: 350px;
}



/******************** ANIMATIONS **********************/
@keyframes zoomInOut {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(2);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes zoom {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes showSlow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideSlow {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}